@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --cor-de-fundo:#285A48;
    --cor-texto-principal:#FFF6C0;
    --cor-texo-secundaria:#C44A3A;
    --botao-ativo:#281C59;
    --botao-inativo:#e5e9db;
}


body{
    background: var(--cor-de-fundo);
    color:var(--cor-texto-principal);
    font-family: "Oswald", sans-serif;
}
.conteudo-principal{
display:flex;
flex-direction:column;
justify-content: center;
align-items:center;
max-width:1200px;
width:100%;
margin:0 auto
}
.titulo-principal{
    texo-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span{
    color:aquamarine;
}
.botao{
    background-color:var var(--botao-inativo);
    display:flex;
    justify-content:center;
    padding:lem;
    font-size: 18px;
    align-items: center;
    width:100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top:none;
}
.botao:first-child{
    border-radius: 40px 40px 0 0;
}
@media screen and (min-width:768px){
    .botoes{
        display: flex;
    }
}
    


